:root {
    --primary-color: #007bff;
    --secondary-color: #0056b3;
    --bg-color: #f0f0f0;
    --second-bg-color: #ffffff;
    --text-color: #333;
    --second-text-color: #ccc;
    --copyright-color: #777;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
}

.container {
    background: var(--second-bg-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    color: var(--text-color);
}

.form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

input {
    padding: 0.5rem;
    border: 1px solid var(--second-text-color);
    border-radius: 5px 0 0 5px;
    flex: 1;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    background: var(--primary-color);
    color: var(--second-bg-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: var(--secondary-color);
}

#qr-code-container {
    margin-top: 1rem;
}

.download-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background: var(--primary-color);
    color: var(--second-bg-color);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.download-button:hover {
    background: var(--secondary-color);
}

footer {
    margin-top: 2rem;
    font-size: 14px;
    color: var(--copyright-color);
    text-align: center;
}

@media (max-width: 600px) {
    body {
        min-height: 90vh;
    }

    .form-container {
        flex-direction: column;
    }

    input {
        border-radius: 5px;
        margin-bottom: 0.5rem;
    }

    button {
        border-radius: 5px;
    }
}
